In [2]:
import pandas as pd

### Exercise: Inspecting your data

In [77]:
df = pd.read_csv('datasets/world_ind_pop_data.csv')

In [36]:
df.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [34]:
df.tail()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
13369,Virgin Islands (U.S.),VIR,2014,104170.0,95.203
13370,West Bank and Gaza,WBG,2014,4294682.0,75.026
13371,"Yemen, Rep.",YEM,2014,26183676.0,34.027
13372,Zambia,ZMB,2014,15721343.0,40.472
13373,Zimbabwe,ZWE,2014,15245855.0,32.501

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CountryName                    13374 non-null  object
 1   CountryCode                    13374 non-null  object
 2   Year                           13374 non-null  int64
 3   Total Population               13374 non-null  float64
 4   Urban population (% of total)  13374 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB

In [79]:
import pandas as pd
df = pd.read_csv('datasets/world_ind_pop_data.csv')
# df is already manipulated, only original dataset available for download
df.iloc[0:10380:3, -2] = np.nan
# Above statement makes dataset similar to one DataCamp gives you on console
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CountryName                    13374 non-null  object
 1   CountryCode                    13374 non-null  object
 2   Year                           13374 non-null  int64
 3   Total Population               9914 non-null   float64
 4   Urban population (% of total)  13374 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB

In [100]:
# Import numpy
import numpy as np
import pandas as pd
df = pd.read_csv('datasets/world_population.csv')

In [102]:
# Create array of DataFrame values: np_vals
np_vals = df.values

In [103]:
np_vals

array([[1.96000000e+03, 3.03497056e+09],
       [1.97000000e+03, 3.68482270e+09],
       [1.98000000e+03, 4.43659036e+09],
       [1.99000000e+03, 5.28271599e+09],
       [2.00000000e+03, 6.11597449e+09],
       [2.01000000e+03, 6.92428294e+09]])

In [105]:
# Create new array of base 10 logarithm values: np_vals_log10
np_vals_log10 = np.log10(np_vals)

In [106]:
np_vals_log10

array([[3.29225607, 9.48215448],
       [3.29446623, 9.5664166 ],
       [3.29666519, 9.64704933],
       [3.29885308, 9.72285726],
       [3.30103   , 9.78646566],
       [3.30319606, 9.84037481]])

In [107]:
# Print original and new data containers
[print(x, 'has type', type(eval(x))) for x in ['np_vals', 'np_vals_log10', 'df', 'df_log10']]

np_vals has type <class 'numpy.ndarray'>
np_vals_log10 has type <class 'numpy.ndarray'>
df has type <class 'pandas.core.frame.DataFrame'>
df_log10 has type <class 'pandas.core.frame.DataFrame'>

[None, None, None, None]

In [99]:
#Final Code
    
    # Import numpy
    import numpy as np
    import pandas as pd

    df = pd.read_csv('datasets/world_population.csv')

    # Create array of DataFrame values: np_vals
    np_vals = df.values

    # Create new array of base 10 logarithm values: np_vals_log10
    np_vals_log10 = np.log10(np_vals)

    # Create array of new DataFrame by passing df to np.log10(): df_log10
    df_log10 = np.log10(df)

    # Print original and new data containers
    [print(x, 'has type', type(eval(x))) for x in ['np_vals', 'np_vals_log10', 'df', 'df_log10']]

np_vals has type <class 'numpy.ndarray'>
np_vals_log10 has type <class 'numpy.ndarray'>
df has type <class 'pandas.core.frame.DataFrame'>
df_log10 has type <class 'pandas.core.frame.DataFrame'>

[None, None, None, None]